# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json

# VuePress
docs/.vuepress/.cache/
docs/.vuepress/.temp/
docs/.vuepress/dist/

# macOS
.DS_Store

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
